body{
background:#111;
color:white;
font-family:Arial;
padding:20px;
}

.container{
max-width:500px;
margin:auto;
}

h1{
margin-bottom:20px;
}

form{
display:flex;
flex-direction:column;
gap:15px;
}

input{
padding:12px;
border:none;
border-radius:8px;
}

button{
padding:14px;
background:#ff0000;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}