*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f0f0f;
    color:white;
    font-family:Arial, sans-serif;
}



/* HEADER */

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px;

    position:sticky;
    top:0;

    background:#0f0f0f;

    z-index:1000;
}

.left-header{
    display:flex;
    align-items:center;
    gap:15px;
}

.left-header i{
    font-size:22px;
    cursor:pointer;
}

.logo{
    display:flex;
    align-items:center;
    gap:8px;
}

.logo i{
    color:red;
    font-size:30px;
}

.logo span{
    font-size:24px;
    font-weight:bold;
}

.right-header{
    display:flex;
    align-items:center;
    gap:18px;
}

.right-header i{
    font-size:22px;
    cursor:pointer;
}

.profile{
    width:35px;
    height:35px;

    border-radius:50%;

    background:#ff6600;

    display:flex;
    justify-content:center;
    align-items:center;

    font-weight:bold;
}



/* CATEGORY */

.category-section{
    display:flex;
    gap:10px;

    overflow-x:auto;

    padding:10px 15px;

    scrollbar-width:none;
}

.category-section::-webkit-scrollbar{
    display:none;
}

.category-section button{
    border:none;

    background:#272727;
    color:white;

    padding:10px 18px;

    border-radius:10px;

    white-space:nowrap;

    font-size:14px;

    cursor:pointer;
}

.category-section button.active{
    background:white;
    color:black;
}



/* VIDEOS */

.videos-container{
    padding:15px;
}



/* VIDEO CARD */

.video-card{
    margin-bottom:30px;
    cursor:pointer;
}



/* THUMBNAIL */

.thumbnail{
    position:relative;
}

.thumbnail img{
    width:100%;
    border-radius:15px;
    display:block;
}

.video-time{
    position:absolute;

    bottom:10px;
    right:10px;

    background:rgba(0,0,0,0.8);

    padding:4px 7px;

    border-radius:5px;

    font-size:12px;
}



/* VIDEO INFO */

.video-info{
    display:flex;
    gap:12px;

    margin-top:12px;
}



/* CHANNEL LOGO */

.channel-logo{
    width:40px;
    height:40px;

    border-radius:50%;

    background:#ff6600;

    display:flex;
    justify-content:center;
    align-items:center;

    font-weight:bold;

    flex-shrink:0;
}



/* VIDEO DETAILS */

.video-details h3{
    font-size:17px;
    line-height:1.4;

    margin-bottom:6px;
}

.channel-name{
    color:#aaaaaa;
    font-size:14px;

    margin-bottom:4px;
}

.video-stats{
    color:#888;
    font-size:13px;
}



/* VIDEO POPUP */

.video-popup{
    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100vh;

    background:black;

    display:none;

    justify-content:center;
    align-items:center;

    z-index:999999;
}



/* POPUP CONTENT */

.popup-content{

    width:100%;
    height:100vh;

    position:relative;

    background:black;
}



/* CLOSE BUTTON */

.close-btn{

    position:fixed;

    top:12px;

    left:12px;

    z-index:999999999;

    pointer-events:auto;

    cursor:pointer;

    background:rgba(0,0,0,0.75);

    width:58px;
    height:58px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    backdrop-filter:blur(5px);
}

.close-btn i{

    font-size:34px;

    color:white;
}

.popup-video{

    pointer-events:auto;

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    overflow:hidden;

    background:black;

    z-index:999999;
}

.video-popup{

    overflow:hidden;
}


/* FULLSCREEN VIDEO */




/* IFRAME */

.popup-video iframe{

    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:100%;
    display:block;

    border:none;

    background:black;

    object-fit:cover;
}

html,
body{

    width:100%;
    height:100%;

    overflow-x:hidden;
}


/* MOBILE */

@media(max-width:600px){

    .logo span{
        font-size:20px;
    }

    .video-details h3{
        font-size:15px;
    }

    .close-btn{

    top:10px;
    right:5px;

    width:58px;
    height:58px;
}

.close-btn i{

    font-size:36px;
}

}


.search-overlay{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    padding:15px;

    background:#0f0f0f;

    z-index:99999;

    display:none;
}

.search-overlay.active{

    display:block;
}

.search-overlay input{

    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#222;

    color:white;

    font-size:16px;
}


.search-wrapper{

    display:flex;
    align-items:center;
    gap:10px;

}

.search-wrapper input{

    flex:1;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#222;

    color:white;

}

#voiceBtn{

    width:55px;
    height:55px;

    border:none;

    border-radius:50%;

    background:#ff0000;

    color:white;

    font-size:22px;

    cursor:pointer;
}


#closeSearch{

    width:45px;
    height:45px;

    border:none;

    border-radius:50%;

    background:#272727;

    color:white;

    font-size:18px;

    cursor:pointer;

}


#voiceBtn{

    width:45px;
    height:45px;

    border:none;

    border-radius:50%;

    background:#272727;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

#voiceBtn:hover{

    background:#ff0000;

}

.voice-popup{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    display:none;

    justify-content:center;
    align-items:center;

    background:rgba(0,0,0,.8);

    z-index:999999;

}

.voice-box{

    text-align:center;

}

.wave{

    width:80px;
    height:80px;

    border-radius:50%;

    background:red;

    animation:pulse 1s infinite;

}

@keyframes pulse{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.3);
    }

    100%{
        transform:scale(1);
    }

}

.videos-container{
    padding:15px;

    display:grid;

    grid-template-columns:
    repeat(auto-fill,minmax(350px,1fr));

    gap:25px;
}

.video-card{
    cursor:pointer;
}

/* DESKTOP */

@media(min-width:1000px){

    .videos-container{

        grid-template-columns:
        repeat(3,1fr);

    }

}

/* LARGE DESKTOP */

@media(min-width:1400px){

    .videos-container{

        grid-template-columns:
        repeat(4,1fr);

    }

}


.profile{

    width:45px;
    height:45px;

    border-radius:50%;

    overflow:hidden;

    cursor:pointer;

}

.profile img{

    width:100%;
    height:100%;

    object-fit:cover;

}

/* Samsung Mobile Fix */

html,
body{
    width:100%;
    overflow-x:hidden;
}

.videos-container{
    width:100%;
    max-width:100%;
    padding:12px;
    box-sizing:border-box;
}

.video-card{
    width:100%;
    max-width:100%;
}

.video-thumbnail{
    width:100%;
    display:block;
}

@media screen and (max-width: 420px){

    .videos-container{
        padding-left:10px;
        padding-right:10px;
    }

    .video-card{
        margin-left:0;
        margin-right:0;
    }

}

.videos-container{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    gap:20px;
}

@media (max-width:480px){

    .videos-container{
        grid-template-columns:1fr;
        padding:10px;
    }

}

.ad-popup{

display:none;

position:fixed;
inset:0;

background:rgba(0,0,0,.95);

z-index:99999;

justify-content:center;
align-items:center;

}

.ad-content{

width:90%;
max-width:900px;

}

#adVideo{

width:100%;
border-radius:12px;

background:black;

}

.ad-buttons{

display:flex;
gap:10px;

margin-top:15px;

}

#visitAdBtn,
#skipAdBtn{

flex:1;

padding:14px;

border:none;

border-radius:10px;

font-size:16px;

font-weight:600;

cursor:pointer;

}

#visitAdBtn{

background:#ff0000;
color:white;

}

#skipAdBtn{

background:#333;
color:white;

}

#adPopup{
    position:fixed;
    inset:0;

    display:none;

    justify-content:center;
    align-items:center;

    background:rgba(0,0,0,.95);

    z-index:999999;
}

.notification-popup{
  position: fixed;
  top: 70px;
  right: 10px;
  width: 340px;
  max-height: 80vh;
  overflow-y: auto;

  background:#111;
  border:1px solid #333;
  border-radius:12px;

  display:none;

  z-index:99999;
}

.notification-header{
  padding:15px;
  font-weight:bold;
  border-bottom:1px solid #333;
}

.notification-item{
  padding:10px;
  border-bottom:1px solid #222;
  cursor:pointer;
}

.notification-item img{
  width:100%;
  border-radius:8px;
}

.notification-title{
  margin-top:8px;
  font-size:14px;
}

#notificationCount{
  position:absolute;
  top:-5px;
  right:-5px;

  background:red;
  color:white;

  width:18px;
  height:18px;

  border-radius:50%;

  font-size:11px;

  display:flex;
  align-items:center;
  justify-content:center;
}

.notification-wrapper{

    position:relative;

    display:flex;

    align-items:center;

    justify-content:center;

}

#notificationCount{

    position:absolute;

    top:-6px;

    right:-8px;

    min-width:18px;

    height:18px;

    border-radius:50%;

    background:red;

    color:white;

    font-size:11px;

    font-weight:bold;

    display:flex;

    align-items:center;

    justify-content:center;

    z-index:9999;

}

@media(max-width:768px){

#notificationCount{

    top:-4px;

    right:-5px;

    min-width:16px;

    height:16px;

    font-size:10px;

}

}

#notificationPopup{

    position:fixed;

    top:70px;

    left:10px;

    right:10px;

    bottom:20px;

    background:#111;

    border:2px solid #ff0000;

    border-radius:15px;

    overflow-y:auto;

    z-index:999999;

    box-shadow:
    0 0 25px rgba(255,0,0,.4);

}

.notification-header{

    position:sticky;

    top:0;

    background:#181818;

    color:white;

    font-size:18px;

    font-weight:700;

    padding:15px;

    border-bottom:
    1px solid #333;

}

#notificationPopup{

    display:none;

}

.notification-item{

    cursor:pointer;

}


.video-popup{
    position:fixed;
    inset:0;
    width:100vw;
    height:100dvh;
    background:#000;
}

.popup-content{
    width:100vw;
    height:100dvh;
}

.popup-video{
    position:absolute;
    inset:0;
    width:100vw;
    height:100dvh;
}

.popup-video iframe{
    position:absolute;
    inset:0;
    width:100vw;
    height:100dvh;
    border:none;
}


.video-popup{
    position:fixed;
    inset:0;
    width:100vw;
    height:100dvh;
    background:#000;
}

.popup-content{
    width:100vw;
    height:100dvh;
}

.popup-video{
    position:absolute;
    inset:0;
    width:100vw;
    height:100dvh;
    background:#000;
}

.popup-video iframe{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    border:none;
}

/* CHANNELS SECTION */

.channels-section{

padding:20px;

}

.channels-section h2{

margin-bottom:20px;

}

.channels-container{

display:grid;

grid-template-columns:
repeat(auto-fill,minmax(250px,1fr));

gap:20px;

}

.channel-card{

background:#1a1a1a;

border-radius:15px;

padding:20px;

text-align:center;

}

.channel-img{

width:80px;
height:80px;

border-radius:50%;

object-fit:cover;

margin-bottom:10px;

}

.channel-card h3{

margin-bottom:10px;

}

.channel-card p{

color:#bbb;

margin-bottom:5px;

}

.channel-card a{

display:inline-block;

margin-top:10px;

padding:10px 15px;

background:red;

color:white;

text-decoration:none;

border-radius:8px;

}




.video-card{
background:#111;
border-radius:12px;
padding:10px;
}

.video-card img{
width:100%;
border-radius:10px;
}

.video-card h3{
font-size:16px;
margin-top:10px;
}


.loader{
width:50px;
height:50px;
border:5px solid #333;
border-top:5px solid red;
border-radius:50%;
margin:30px auto;
display:none;
animation:spin 1s linear infinite;
}

@keyframes spin{
0%{
transform:rotate(0deg);
}

100%{
transform:rotate(360deg);
}
}


.loader{
display:none;
width:50px;
height:50px;
border:5px solid #333;
border-top:5px solid red;
border-radius:50%;
animation:spin 1s linear infinite;
margin:30px auto;
}

@keyframes spin{
0%{
transform:rotate(0deg);
}
100%{
transform:rotate(360deg);
}
}

#loadMoreTrigger{
height:20px;
}

.channel-header{
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
padding:30px 20px;
background:#181818;
border-bottom:1px solid #333;
}

#channelLogo{
width:120px;
height:120px;
border-radius:50%;
object-fit:cover;
border:4px solid #ff0000;
margin-bottom:15px;
}

#channelName{
font-size:32px;
font-weight:bold;
margin-bottom:10px;
}

#channelSubscribers,
#channelVideos{
color:#aaa;
font-size:16px;
margin:4px 0;
}



.video-card{
background:#181818;
border-radius:15px;
overflow:hidden;
transition:0.3s;
}

.video-card:hover{
transform:translateY(-5px);
}

.video-card img{
width:100%;
aspect-ratio:16/9;
object-fit:cover;
display:block;
}

.video-card h3{
padding:12px;
font-size:16px;
line-height:1.4;
}

.video-card button{
width:90%;
margin:10px auto 15px;
display:block;
background:#ff0000;
color:white;
border:none;
padding:10px;
border-radius:8px;
cursor:pointer;
}


.video-card{
cursor:pointer;
}

.video-card img{
width:100%;
aspect-ratio:16/9;
object-fit:cover;
border-radius:12px;
}


.video-card{

background:#181818;

border-radius:15px;

overflow:hidden;

padding-bottom:10px;

}

@media(max-width:768px){

#channelLogo{
width:90px;
height:90px;
}

#channelName{
font-size:24px;
}

#channelVideosContainer{

grid-template-columns:1fr;

padding:15px;

gap:20px;

}

.video-card{

width:100%;

}

}






@media screen and (max-width: 768px) {

    #channelVideosContainer{

display:flex;
flex-direction:column;

gap:20px;

padding:15px;

}

    .video-card {

        width: 100% !important;

    }

}



/* CHANNEL PAGE */

#channelVideosContainer{

display:flex;

flex-direction:column;

gap:20px;

padding:15px;

max-width:900px;

margin:auto;

}

.video-card{

width:100%;

background:#181818;

border-radius:18px;

overflow:hidden;

box-shadow:
0 4px 15px rgba(0,0,0,.35);

}

.video-card img{

width:100%;

display:block;

aspect-ratio:16/9;

object-fit:cover;

}

.video-card h3{

padding:12px 15px;

font-size:20px;

font-weight:700;

line-height:1.5;

margin-top:5px;

color:#ffffff;

}

@media(max-width:768px){

.video-card h3{

font-size:19px;

line-height:1.5;

font-weight:700;

padding:12px 15px;

}

}

.video-popup{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.95);
    z-index:99999;
    justify-content:center;
    align-items:center;
}

.popup-content{
    width:95%;
    max-width:1000px;
    position:relative;
}

#youtubePlayer{
    width:100%;
    aspect-ratio:16/9;
    border:none;
    border-radius:12px;
}

.close-btn{
    position:absolute;
    top:-45px;
    right:0;
    color:white;
    font-size:35px;
    cursor:pointer;
}

.video-popup{

position:fixed;
top:0;
left:0;

width:100%;
height:100%;

background:#000;

display:none;

justify-content:center;
align-items:center;

z-index:999999;

}

.popup-content{

width:100%;
height:100%;

position:relative;

}

#youtubePlayer{

width:100%;
height:100%;

border:none;

}

.close-btn{

position:absolute;

top:15px;
right:20px;

font-size:32px;

color:white;

cursor:pointer;

z-index:1000;

}


.video-popup{

position:fixed;
top:0;
left:0;

width:100vw;
height:100vh;

background:#000;

display:none;

justify-content:center;
align-items:center;

z-index:999999;

}

.popup-content{

width:100vw;
height:100vh;

}

#youtubePlayer{

width:100vw;
height:100vh;

border:none;

}

#youtubePlayer{

width:100%;
height:100%;

object-fit:contain;

}


